<h1>Sign In </h1>
<% if flash[:user_errors]%>
    <% flash[:user_errors].each do |x| %>
        <p><%= x %></p>
    <% end %>
<% end %>

<form action="/users/create" method="POST">
    <input type = 'hidden' name = "authenticity_token" value = "<%=form_authenticity_token%>">
    Username: <input type="text" name="user[username]">
    <br>
    <input type="submit" value="Sign In">
</form>
